@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.caja {
    background-color: #000;
    height: 200px;
    width: 200px;
    margin-top: 30px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border: 10px solid fuchsia;
    margin-left: 200px;
    display: inline-block;
}

span{
background-color: red;
}

/* a{
    display: inline-block;
    background-color: indianred;
    width: 400px;
} */

/* .input {
    width: 400px;
    height: 200px;
} */

header{
    color: wheat;
}

.link {
    background-color: palevioletred;
    width: 100px;
    display: inline-block;
    text-align: center;
    height: 50px;
}

.logo {
    background-color: lightcoral;
    width: 50px;
    height: 50px;
}

nav {
    text-align: left;
}